<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Pagina de login</h1>
    <form>
       
        <label>Nome de usuario</label>
            <input name="input-nome" type="text" placeholder="Ex: Julia Cereda">
        <label>Senha</label>
            <input name="input-senha" type="password" placeholder="Ex: 123">

        <button type="submit">Logar</button>
    </form>
</body>
</html>